/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Any specific animations can go here*/

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Leaflet Map */
.leaflet-container {
    height: 100%; /* Critical for Leaflet rendering */
    width: 100%; /* Ensures map spans the full container */
    position: relative; /* Required for Leaflet elements */
    overflow: hidden; /* Prevents scrollbars */
}